* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.login-wrap {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chat-page {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #131C21;
}

.chat-page .chat-container {
  display: grid;
  grid-template-areas:
    "sidebar chat chat chat chat chat"
    "sidebar chat chat chat chat chat"
    "sidebar message message message message message";
    grid-template-columns: 350px 1fr;
    grid-template-rows: 30px 1fr;
  width: inherit;
  height: inherit;
  max-height: 40em;
  max-width: 90%;
  background: #262D31;
  border-radius: 4px;
}

.sidebar {
  grid-area: sidebar;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.sidebar,.chat{
  overflow-y: scroll;
  box-shadow: 0px 0px 5px inset rgba(0, 0, 0, 0.34);
}

.chat::-webkit-scrollbar {
  width: 0.25rem;
}

.chat::-webkit-scrollbar-track {
  background: #1e1e24;
}

.chat::-webkit-scrollbar-thumb {
  background: #6649b8;
}

.sidebar::-webkit-scrollbar {
  width: 0.25rem;
}

.sidebar::-webkit-scrollbar-track {
  background: #1e1e24;
}

.sidebar::-webkit-scrollbar-thumb {
  background: #6649b8;
}


.chat {
  grid-area: chat;
}
.message {
  grid-area: message;
}
.chat-container > div{
  color: #d2d2d2;
}
.sent {
  flex-direction: row-reverse;
}

p.message-toast{
  padding: 12px 10px;
  border: .12rem solid rosybrown;
  border-radius: 8px;
  word-wrap: break-word;
  max-width: 400px;
  
}

.list-group-item .badge{
  display: none;
}

.list-group-item:hover .badge{
  display: block;
}